<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Registro</servlet-name>
        <servlet-class>Servlet_Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Inicio</servlet-name>
        <servlet-class>Servlet_Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agrega_Amigos</servlet-name>
        <servlet-class>Agrega_Amigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta_Amigos</servlet-name>
        <servlet-class>Consulta_Amigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_Session</servlet-name>
        <servlet-class>Data_Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agrega_Inter</servlet-name>
        <servlet-class>Agrega_Inter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta_Amigos_N</servlet-name>
        <servlet-class>Consulta_Amigos_N</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Registro</servlet-name>
        <url-pattern>/Servlet_Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Inicio</servlet-name>
        <url-pattern>/Servlet_Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agrega_Amigos</servlet-name>
        <url-pattern>/Agrega_Amigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta_Amigos</servlet-name>
        <url-pattern>/Consulta_Amigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_Session</servlet-name>
        <url-pattern>/Data_Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agrega_Inter</servlet-name>
        <url-pattern>/Agrega_Inter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta_Amigos_N</servlet-name>
        <url-pattern>/Consulta_Amigos_N</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
